<div class="flex flex-column flex-center-center full-height">
  <mat-card class="login-card">
    <mat-card-header>
      <mat-card-title><h1>Login</h1></mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="form" (ngSubmit)="loginEmail()">
        <mat-error *ngIf="form.hasError('invalidLogin')">{{ form.errors.invalidLogin.message }}</mat-error>
        <div class="flex-row flex-center-center flex-wrap">
          <mat-form-field>
            <input matInput placeholder="Enter your email" formControlName="email" required>
            <mat-error *ngIf="email.hasError('required')">You must enter your email.</mat-error>
            <mat-error *ngIf="!email.hasError('required') && email.hasError('email')">Invalid email.</mat-error>
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Enter your password" formControlName="password" [type]="hide ? 'password' : 'text'">
            <mat-icon matSuffix (click)="hide = !hide">{{ hide ? 'visibility' : 'visibility_off' }}</mat-icon>
          </mat-form-field>
        </div>
        <div class="flex-row flex-center-center">
          <button mat-raised-button type="submit" color="primary" [disabled]="!form.valid">Login</button>
          <mat-spinner *ngIf="loggingIn" class="spinner" diameter="20"></mat-spinner>
        </div>
      </form>
    </mat-card-content>
    <mat-card-actions class="flex-row flex-center-center">
        <button mat-raised-button color="primary" (click)="loginGoogle()">Login with Google</button>
    </mat-card-actions>
  </mat-card>
</div>