<div class="flex-column full-height">
    <header>
        <navigation-bar></navigation-bar>
    </header>
    <main class="flex-column flex">
        <main-app class="flex-column flex"></main-app>
    </main>
</div>
